__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db
*.sql

venv/
env/
.venv/

BE/.env
*.env

AI_service/models/
*.pt
*.pth
*.ckpt
*.weights
*.h5
*.bin
*.onnx
*.tflite

DB/db_init.sql


runs/
outputs/
checkpoints/

.vscode/
.idea/
.DS_Store
Thumbs.db
